
#thumbContainer {
    box-sizing: border-box;
    padding: 5px;
    aspect-ratio: 5/10;
    height: 30rem;
    color: rgb(255, 255, 255);
  }
  
  
  .thumbContainer {
    background-color: #2e2e2e46;
  }

  .text-overflow-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }

  
.thumbContainerHover {
    z-index: 0 !important;
    font-size: medium;
    width: 96%;
    box-sizing: border-box;
  
  }
  
  .thumbContainerHover div {
    box-sizing: border-box;
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
  
  }
  

  
  .thumbContainerHover * {
    transition: all 0.2s;
  }

.ebook-icons svg path{
    fill:white
  }
